#nav {
  background-color: $very-light-gray;
  font-family: 'Dosis';
  font-size: 24px;
  font-weight: 600;
  height: calc(100vh - 88px);
  left: -100%;
  position: fixed;
  top: 88px;
  transition: left 600ms;
  width: 350px;

  &.active {
    left: 0;
  }

  ul {
    li {
      align-items: center;
      border-bottom: 1px solid $dark-gray;
      display: flex;
      height: 79px;

      &.active {
        background-color: rgba($dark-gray, 0.6);
      }

      a {
        display: block;
        margin-left: 34px;
      }
    }
  }
}
