@font-face {
  font-family: 'Lato';
  src: url($path-fonts + 'lato-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url($path-fonts + 'lato-bolditalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($path-fonts + 'lato-italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url($path-fonts + 'lato-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url($path-fonts + 'dosis-semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url($path-fonts + 'dosis-regular.ttf');
  font-weight: normal;
  font-style: normal;
}
